<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <!-- jQuery -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">Test App</span>
                </div>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" ><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item" ><a class="nav-link" href="/signin">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron text-center"  style="margin-top:80px">
            <h1>This project was built with Python</h1>
            <p>I used an MVC framework to recreate a project wireframe</p> 
            <button><a href="/signin">Start</a></button>   
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h5>Manage Users</h5>
                <p>This application demonstrates all CRUD functions and utilizes a relational database with one-to-many and many-to-many relationships.</p>
            </div>

            <div class="col-sm-4">
                <h5>Leave messages</h5>
                <p>Users will be able to leave a message to another user using this application.</p>
            </div>

            <div class="col-sm-4">
                <h5>Edit User Information</h5>
                <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
            </div>    
        </div>
        
        
        

    </div>
</body>
</html>
