<!doctype html>
<html lang="en">
  <head>
    <title>Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container body-content">
      <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top ">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand">Test App</span>
          </div>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
              <li class="nav-item" ><a class="nav-link" href="/dashboard/admin">Dashboard</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/show/{{user.id}}">{{user.fname}}</a></li>
              <li class="nav-item" ><a class="nav-link" href="/users/edit">Account Info</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <!-- Header -->
      <div style="margin-top:80px">
        <h4>{{member.fname}} {{member.lname}}</h4>
      </div>

      <!-- Info -->
      <div>
        <p>Registered at: {{member.created_at}}</p>
        <p>User ID:  #{{member.id}}</p>
        <p>Email:  {{member.email}}</p> 
        <p>Description:  {{member.description}}</p> 
      </div>

      <!-- Comment Form -->
      <div class="form-group">
        <form action="/postmessage/{{member.id}}" method="POST">
        {% csrf_token %}
          <label>Leave a message for {{member.fname}}</label>
          <textarea class="form-control" name="body"></textarea>
          <input type="submit" value="Post" class="btn btn-success">
        </form>
      </div>

      <!-- Messages -->
      {% for msg in msgs %}
        {% if msg.profile.id == member.id %}
          <div class="card" id="cardDiv{{msg.id}}">
            <div class="card-header">
              {{msg.author.fname}} {{msg.author.lname}} wrote (at {{msg.created_at}}) #{{msg.id}}
            </div>
            <div class="card-body">{{msg.body}}</div>
            <div class="card-footer">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-link btn-xs" >Like</button>
                <button onclick="showreplybox()" type="button" class="btn btn-link btn-xs">Reply</button>
                <button type="button" class="btn btn-link btn-xs">Edit</button>
              </div>
              <textarea style="display: none;" class="form-control replybox" id="replybox" name="reply"></textarea>
            </div>
          
          </div>
          <br>

    {% endif %}
    {% endfor %}
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <script>
      function showreplybox() {
        var x = document.getElementById("replybox");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

    </script>
  </body>
</html>